*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Variables
$primary-color: white;
$bg: black;

body {
  background-color: $bg;
}

// Font Sizes
h1 {
  color: $primary-color;
  background-color: $bg;
  text-align: center;
}

.bar {
  background-color: white;
  height: 20px;
  width: 100%;
  margin: 40px 0;
  text-align: center;
  .newColors{
    margin-right: 20px;
  }
  .score {

  }
}

.container {
  color: yellow;
  border: 1px solid black;
  height: 60vh;
  margin: 0 auto;
}

.square {
  width: 33%;
  height: 33%;
  background-color: purple;
  border: 10px solid black;
  float: left;
  border-radius: 30px;
}

button {
  border: 0;
  height: 100%;
}

button:hover {
  color: white;
  
}

button.selected {
  background-color: blue;
  color: white;
}